.sec_card{
    background-color: #171f32;
    padding: 20px 20px 4px 10px;
}
.sec_card h3{
    font-size: 18px;
    padding-left: 10px;
    color: #fff;
}
.sec_card p{
    font-size: 16px;
    padding-left: 10px;
    color: #fff;
    margin-top: -5px;
}
.section_first{
    margin-top: -65xp !important;
}
.card{
    position: relative;
    margin: 5px;
    transition: all .3s ease;
}

.cards .card-img img{
    border-radius:10px;
}
.card:before{
    content: "";
    background: -webkit-linear-gradient(0deg,#000 0,transparent 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all .5s ease;
    z-index: 1;
}
.card:hover{
    transform: translateY(-10px);
}
.card_details{
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 50px;
    color: #fff;
    background-color: transparent !important;
}

.card_details img{
    z-index: 1;
}
.card_details h3{
    font-size: 25px;
    padding-left: 10px;
}
.card_details p{
    font-size: 18px;
    padding-left: 10px;
    margin-top: -8px;
}
.view_all_button{
    text-align: center;
}
.view_all_button button{
    border: none;
    height: 40px;
    width: 180px;
    font-size: 17px;
    color: #fff;
    background-color: #f77d02;
}